<!DOCTYPE html>
<html>
<head>
<title>open court</title>
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:fragment="header">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<!-- a class="navbar-brand" href="#">FaceCourt</a> -->
					<a class="navbar-brand" th:href="@{/}"><span
						th:text="#{com.brand.name}">Open Court</span></a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/myCase">My Case</a></li>
					<!-- 
					<li class="active"><a href="#">New Case</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Page 1-1</a></li>
							<li><a href="#">Page 1-2</a></li>
							<li><a href="#">Page 1-3</a></li>
						</ul></li>
					<li><a href="#">Page 2</a></li>
					-->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- 
					<li><a href="#"><span class="glyphicon glyphicon-list"></span>
							<span sec:authentication="name">Username</span></a></li>
					 -->
					<li><a th:href="@{/logout}" href="#"><span
							class="glyphicon glyphicon-log-out"></span>&nbsp;<span
							th:text="#{com.home.logout}">Logout</span></a></li>
				</ul>
			</div>
		</nav>

	</div>

</body>
</html>
