<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Face Court</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">
	
		<div class="well">
			<h1>
				Welcome, <span sec:authentication="name">Username</span>
			</h1>
			<p sec:authentication="authorities">User authorities</p>
			<a class="btn btn-primary btn-lg" href="/newCase">Create New Case</a>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">Case ONE</div>
			<div class="panel-body">
				<span>This is the case one.</span>
			</div>
			<div class="panel-footer text-center">
				<span class=""><span class="glyphicon glyphicon-thumbs-up"></span>36
					&nbsp;&nbsp; <span class="glyphicon glyphicon-thumbs-down"></span>5</span>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">Case FIVE</div>
			<div class="panel-body">
				<span>This is the case five.</span>
			</div>
			<div class="panel-footer text-center">
				<span class=""><span class="glyphicon glyphicon-thumbs-up"></span>3
					&nbsp;&nbsp; <span class="glyphicon glyphicon-thumbs-down"></span>15</span>
			</div>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer" />

</body>
</html>